
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.json
*.vsidx
*.tlog
/SonicFighterProject/.vs
/SonicFighterProject/SonicFig.87a1f008/x64/Debug
/SonicFighterProject
/ProjectDash/.vs
ProjectDash/ProjectDash.sln
ProjectDash/ProjectDash.vcxproj
ProjectDash/ProjectDash.vcxproj.filters
ProjectDash/ProjectDash.vcxproj.user

/build/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.log
*.suo
*.user
*.VC.db
