
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.json
*.vsidx
*.tlog
/ProjectDash/.vs
ProjectDash/ProjectDash.sln
ProjectDash/ProjectDash.vcxproj
ProjectDash/ProjectDash.vcxproj.filters
ProjectDash/ProjectDash.vcxproj.user

/build/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.log
*.suo
*.user
*.VC.db
/ProjectDash/ProjectDash
